{% extends 'app_base.html' %}

{% block conteudo %}

<div class="container-fluid px-5 pt-5" >
	<div>
		<h1 class="display-4">Bem vindo</h1>
		<hr>
	</div>

	<div class="row g-4 py-5">
		<div class="col">
			<div class="card rounded-4 shadow">
				<div class="d-flex flex-column px-5 py-5 pb-3">
					<div class="d-flex align-items-center pb-2">
						<svg fill="#dc3545" class="me-3" height="2em" width="2em">
							<use xlink:href="#arrow-down" />
						</svg>
						<h3 class="mb-0 fw-bold">DESPESAS</h3>
					</div>
					<h3 class="pb-3">R$ 00,00</h3>
					<ul class="d-flex list-unstyled mt-auto">
						<li class="d-flex align-items-center me-3">
							<small>icon</small>
						</li>
						<li class="d-flex align-items-center me-3">
							<small>value</small>
						</li>
						<li class="d-flex align-items-center">
							<small>category</small>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card rounded-4 shadow">
				<div class="d-flex flex-column px-5 py-5 pb-3">
					<div class="d-flex align-items-center pb-2">
						<svg class="me-3" height="2em" width="2em">
							<use xlink:href="#transferencia" />
						</svg>
						<h3 class="mb-0 fw-bold">TRANSFERÊNCIAS</h3>
					</div>
					<h3 class="pb-3">value</h3>
					<ul class="d-flex list-unstyled mt-auto">
						<li class="d-flex align-items-center me-3">
							<small>icon</small>
						</li>
						<li class="d-flex align-items-center me-3">
							<small>value</small>
						</li>
						<li class="d-flex align-items-center">
							<small>category</small>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card rounded-4 shadow">
				<div class="d-flex flex-column px-5 py-5 pb-3">
					<div class="d-flex align-items-center pb-2">
						<svg fill="#198754" class="me-3" height="2em" width="2em">
							<use xlink:href="#arrow-up" />
						</svg>
						<h3 class="mb-0 fw-bold">RECEITAS</h3>
					</div>
					<h3 class="pb-3">value</h3>
					<ul class="d-flex list-unstyled mt-auto">
						<li class="d-flex align-items-center me-3">
							<small>icon</small>
						</li>
						<li class="d-flex align-items-center me-3">
							<small>value</small>
						</li>
						<li class="d-flex align-items-center">
							<small>category</small>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row g-4 py-3">
		<div class="col">
			<div class="card rounded-4 shadow">
				<div class="d-flex flex-column px-5 pt-4 pb-3">
					<div class="text-center pb-3 pt-2">
						<svg height="5em" width="5em">
							<use xlink:href="#banco" />
						</svg>
					</div>
					<h3 class="pb-3">saldo</h3>
					<ul class="d-flex list-unstyled mt-auto">
						<li class="d-flex align-items-center me-3">
							<small>icon</small>
						</li>
						<li class="d-flex align-items-center me-3">
							<small>value</small>
						</li>
						<li class="d-flex align-items-center">
							<small>category</small>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card rounded-4 shadow">
				<div class="d-flex flex-column px-5 pt-4 pb-3">
					<div class="text-center pb-3 pt-2">
						<svg height="5em" width="5em">
							<use xlink:href="#banco" />
						</svg>
					</div>
					<h3 class="pb-3">saldo</h3>
					<ul class="d-flex list-unstyled mt-auto">
						<li class="d-flex align-items-center me-3">
							<small>icon</small>
						</li>
						<li class="d-flex align-items-center me-3">
							<small>value</small>
						</li>
						<li class="d-flex align-items-center">
							<small>category</small>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card rounded-4 shadow">
				<div class="d-flex flex-column px-5 pt-4 pb-3">
					<div class="text-center pb-3 pt-2">
						<svg height="5em" width="5em">
							<use xlink:href="#banco" />
						</svg>
					</div>
					<h3 class="pb-3">saldo</h3>
					<ul class="d-flex list-unstyled mt-auto">
						<li class="d-flex align-items-center me-3">
							<small>icon</small>
						</li>
						<li class="d-flex align-items-center me-3">
							<small>value</small>
						</li>
						<li class="d-flex align-items-center">
							<small>category</small>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card rounded-4 shadow">
				<div class="d-flex flex-column px-5 pt-4 pb-3">
					<div class="text-center pb-3 pt-2">
						<svg height="5em" width="5em">
							<use xlink:href="#banco" />
						</svg>
					</div>
					<h3 class="pb-3">saldo</h3>
					<ul class="d-flex list-unstyled mt-auto">
						<li class="d-flex align-items-center me-3">
							<small>icon</small>
						</li>
						<li class="d-flex align-items-center me-3">
							<small>value</small>
						</li>
						<li class="d-flex align-items-center">
							<small>category</small>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}