{% extends 'app_base.html' %}

{% block conteudo %}

<div class="container-fluid px-5 mt-5">
	<header>
		<h1 class="display-4">Bem vindo</h1>
		<hr>
	</header>

	<section>
		<div class="row g-4 py-3">
			<article class="col">
				<div class="card rounded-4 shadow">
					<div class="d-flex flex-column px-5 py-5 pb-3">
						<header class="d-flex align-items-center pb-2">
							<svg fill="#dc3545" class="me-3" height="2em" width="2em">
								<use xlink:href="#arrow-down" />
							</svg>
							<h3 class="mb-0 fw-bold">DESPESAS</h3>
						</header>

						<h3 class="d-flex">
							<p id="valor-despesas"></p>
						</h3>

						<table class="table" id="tabela-despesas">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Valor</th>
									<th scope="col">Categoria</th>
									<th scope="col">Conta bancária</th>
								</tr>
							</thead>
							<tbody>
								<tr id="despesas-default-row">
									<th scope='row'>...</th>
									<td>...</td>
									<td>...</td>
									<td>...</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</article>

			<article class="col">
				<div class="card rounded-4 shadow">
					<div class="d-flex flex-column px-5 py-5 pb-3">
						<header class="d-flex align-items-center pb-2">
							<svg class="me-3" height="2em" width="2em">
								<use xlink:href="#circle-arrows" />
							</svg>
							<h3 class="mb-0 fw-bold">TRANSFERÊNCIAS</h3>
						</header>

						<h3 class="d-flex">
							<p id="valor-transferencias"></p>
						</h3>

						<table class="table" id="tabela-transferencias">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Valor</th>
									<th scope="col">Conta origem</th>
									<th scope="col">Conta destino</th>
								</tr>
							</thead>
							<tbody>
								<tr id="transferencias-default-row">
									<th scope='row'>...</th>
									<td>...</td>
									<td>...</td>
									<td>...</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</article>

			<article class="col">
				<div class="card rounded-4 shadow">
					<div class="d-flex flex-column px-5 py-5 pb-3">
						<header class="d-flex align-items-center pb-2">
							<svg fill="#198754" class="me-3" height="2em" width="2em">
								<use xlink:href="#arrow-up" />
							</svg>
							<h3 class="mb-0 fw-bold">RECEITAS</h3>
						</header>

						<h3 class="d-flex">
							<p id="valor-receitas"></p>
						</h3>
						
						<table class="table" id="tabela-receitas">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Valor</th>
									<th scope="col">Categoria</th>
									<th scope="col">Conta bancária</th>
								</tr>
							</thead>
							<tbody>
								<tr id="receitas-default-row">
									<th scope='row'>...</th>
									<td>...</td>
									<td>...</td>
									<td>...</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section>
		<header class="d-flex align-items-center">
			<h4 class="display-6 me-2">Contas bancárias</h4>
			<a class="btn btn-light rounded-pill mx-2" data-bs-toggle="modal" data-bs-target="#formContaBancaria"
				href="#">ADICIONAR</a>
		</header>

		<hr>

		<div class="row g-4 py-3" id="contas-bancarias-resume">

			<div id="msg-sem-contas-bancarias" class="text-center py-5">
				<h2>
					Adicione sua primeira conta bancária </br>

					<a class="my-4 btn btn-lg btn-indigo rounded-pill text-white mx-2" data-bs-toggle="modal" data-bs-target="#formContaBancaria"
						href="#">ADICIONAR</a>
				</h2>
			</div>

			<!-- Populate on JS -->
		</div>
	</section>
</div>

{% endblock %}

{% block script %}

<script src="../static/js/dashboard/popular_dashboard.js"></script>
<script src="../static/js/dashboard/dashboard.js"></script>

{% endblock %}